extends layout

block content
  #wrap
    table#search-table
      tbody
        tr
          td.filtertd
            ul#filtercontainer
          td.search-results
            ul#search-results
    #pitcontainer