doctype html
html
  head
    link( rel='stylesheet', href='/stylesheets/style.css' )
    link( rel='stylesheet', href='https://transparantnederland.nl/assets/stylesheets/main.css' )
    //- link( rel='stylesheet', href='/stylesheets/main.css' )
    script( src='/javascripts/ajaxRequest.js' )
    script( src='/javascripts/basic.js' )
    script( src='/javascripts/viewer.js' )
  body
    block content
    template#searchresult
      li
        h3
          a
        p.type
          span.label type
          span.typetext
        p.source
          span.label bron
          span.sourcetext
            a

    template#filtergroup
      li
        h3
        ul

    template#filteritem
      li
        input.filter( type="checkbox" )
        label
          span.name
          |  (
          span.count
          | )

    template#dataset
      .dataset
        h2
        p.author
        p.description
        p.date
        p.website
          a

    template#pit
      li.pit
        h2
        p
          span.label bron:
          a.sourcetext
        table.properties
          tbody
        h3
          a.all-relations
        h3 Relaties
        table.related-pits
          thead
            tr
              td.type
              td.relation relatie
              td.period periode
          tbody

    template#property
      tr
        td.property-name
        td.property-value

    template#relation
      tr
        td.name
          a
        td.relation
        td.period

    template#network
      .pit
        h2
        table.related-pits
          thead
            tr
              td Persoon
              td relatie
              td periode
          tbody