body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* custom styles */

table#search-table {

}

ul {
	list-style: none;
	padding-left: 0;
}

span.label {
	margin-right: 1em;
}

.filtertd {
	vertical-align: top;
	width: 50%;
}

.disabled {
	opacity: 0.333;
}